.button {
  border: none;
  background-color: #878888;
  font-size: 30px;
  color: #ececec;
  font-family: "Nunito", sans-serif;
  width: 100%;
  outline: 1px solid #606263;
}

.button:active {
  background-color: #d9d9d9;
}

.button__operator {
  background-color: #ff9f0c;
  color: #fef0de;
}

.button__operator:active {
  background-color: #d98940;
}

.row-item__reset {
  background-color: #696c6c;
}

.row-item__reset:active {
  background-color: #737373;
}
